<html ng-app="app" lang="en">
    <head>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Angular Demo of pvd-suggest</title>

        <!-- inject:css -->
        <link rel="stylesheet" href="/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/bootstrap.min.css">
        <!-- endinject -->

        <style>
            .nobreak {
                white-space: nowrap;
            }
        </style>
    </head>
    <body>
        <div ng-controller="MyCtrl" class="container">
            <h1>pvd-suggest demo</h1>

            <p>Implemented in AngularJS, this page is a demo of <a href="https://github.com/ingfy/pvd-suggest">pvd-suggest</a>.</p>

            <form name="form" period-form class="form-hroizontal">
                <fieldset>
                    <legend>Period</legend>
                    <div class="form-group" ng-class="{'has-error': !periodValid}">
                        <label class="control-label col-sm-2" for="periodStart">Start</label>
                        <div class="col-sm-10">
                            <input type="month" class="form-control" name="periodStart" ng-model="periodStart" />
                        </div>
                        <label class="control-label col-sm-2" for="periodEnd">End</label>
                        <div class="col-sm-10">
                            <input type="month" class="form-control" name="periodEnd" ng-model="periodEnd" />
                        </div>
                        <span ng-show="!periodValid">Period start must be before period end!</span>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Input</legend>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="numSuggestions">Number of suggestions</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="numSuggestions" ng-model="numSuggestions" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12" >
                            <input type="search" ng-model="input" class="form-control input-lg" placeholder="Type your time..." />
                        </div>
                    </div>
                </fieldset>
            </form>

            <h3>Suggestions</h3>

            <table class="table">
                <thead>
                    <tr>
                        <th>Number</th>
                        <th>Suggestion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="result in suggestions">
                        <td>{{$index + 1}}</td>
                        <td>{{result}}</td>
                    </tr>
                </tbody>
            </table>

        <!-- inject:js -->
        <script src="/angular.js"></script>
        <script src="/index.js"></script>
        <!-- endinject -->

        <script>
            var app = angular.module('app', []);
            var pvdSuggest = require('pvd-suggest');

            app.controller('MyCtrl', function ($scope, $filter) {
                function formatDate(date) {
                    return $filter('date')(date, 'dd.MM.yyyy');
                }

                /* inputs */
                $scope.input = '';
                $scope.numSuggestions = 5;
                $scope.periodStart = new Date();
                $scope.periodEnd = new Date($scope.periodStart.getFullYear(), $scope.periodStart.getMonth() + 1);

                /* calculated */
                $scope.period = null;

                /* result */
                $scope.suggestions = [];

                $scope.$watchGroup(['periodStart', 'periodEnd'], function () {
                    $scope.periodValid = $scope.periodStart < $scope.periodEnd;

                    if (!$scope.periodValid) return;

                    $scope.period = pvdSuggest.Period
                        .from($scope.periodStart.getFullYear(), $scope.periodStart.getMonth())
                        .to($scope.periodEnd.getFullYear(), $scope.periodEnd.getMonth());
                });

                $scope.$watchGroup(['period', 'input', 'numSuggestions'], function () {
                    var result = pvdSuggest.createSuggestions($scope.period, $scope.input, $scope.numSuggestions);

                    $scope.suggestions = result.map(function (s) {
                        if (s.type === 'range') {  // range
                             return formatDate(s.firstDate) + ' - ' + formatDate(s.secondDate);
                        }
                        var out = formatDate(s.date);
                        if (s.hours !== undefined) out += ' ' + ('' + s.hours).replace('.', ',') + ' timer';
                        return out;
                    });
                });
            });
        </script>
    </body>
</html>
